<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0
		https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="giraone:channel:definition">
		<parameter name="channelViewUrn" type="text" required="false">
			<label>Channel Unique Resource Name</label>
			<description>The Channels Unique Resource Name</description>
		</parameter>

		<parameter name="channelViewId" type="integer" required="false">
			<label>Unique Channel View ID</label>
			<description>The Gira One Project ChannelViewId </description>
		</parameter>

		<parameter name="channelName" type="text" required="false">
			<label>GiraOne Label</label>
			<description>The Gira One Project's Channel/Device Label</description>
		</parameter>

	</config-description>

</config-description:config-descriptions>
